{% extends "maitre.twig" %}
{% block content %} 
  {% block fiche %}
      {% include './force/basefiche.twig' %} 
  {% endblock %}
    <div class="col-lg-12 mt">
          <div class="row content-panel">


          </div>
            <!-- /panel-heading -->


            <form id = "entretien" method="post" action="{{ path_for('insertsuivi') }}">
            <div class="panel-body">
              <div class="tab-content">
                <div id="experience" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-6">
                      <section>
                        <div id="login-page">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12">
                                      <br/>
                                      <span>Aujourd'hui, <b>{{ddate}}</b></span></br>
                                      <label>Suivi du</label>
                                      <input  type="date" name ="vdate" > </input>&nbsp</br>
                                      <div class="col-md-12 detailed">
                                          <h4>Suivi</h4>

                                              <input type="hidden" name ="idsalarie" value ={{idsalarie}}> </input></br>
                                              <input type="radio" name ="idmission" value ="IND"> Individuel</input>&nbsp</br>
                                              <input type="radio" name ="idmission" value ="COL"> Collectif</input></br>
                                              <input type="radio" name ="idmission" value ="NON"> NON</input></br>

                                          </br>

                                      </div>
                                    <div class="col-md-12 detailed">
                                        <h4>Présence</h4>

                                          {% for presence in presences %}
                                              <input type="radio" name ="idpresence" value ="{{presence.idpresence}}"></input>
                                              <span >&nbsp{{presence.presence}}</span></br>
                                          {% endfor %}
                                        </br>

                                      </div>

                                      <div class="col-md-12 detailed">
                                         <h4>Compte-Rendu</h4>
                                         <div class="input-group mb-3">
                                               <textarea rows ="6" cols="70" class="form-control" name="suivi" id ="suivi" placeholder ="Saisie compte-rendu"></textarea>
                                               {{csrf()}}
                                         </div>
                                      </div>
                                      <div class="col-md-12 detailed">
                                         <h4>Point-Chantier</h4>
                                         <div class="input-group mb-3">
                                               <textarea rows ="6" cols="70" class="form-control" name="point" id ="point" placeholder ="Saisie Point-Chantier"></textarea>
                                               {{csrf()}}
                                         </div>
                                      </div>

                                  </div>

                              </div>
                          </div>
                      </div>
                   </section>

                <button type="submit" class="btn btn-primary" style =" margin-left : 150px">Valider</button>&nbsp;&nbsp;
                <a href="{{ path_for('home')}}" class="btn btn-secondary">Annuler</a>

              </form>
              </div>
              <div class="col-md-6 detailed border rounded-3 border-secondary">              </br>

                  {% for experience in experiences %}
                    <input type ="hidden" name = "suivi" value = "experience.idsuivi"></input>
                            {% set vdate =  experience.datesuivi %}
                      {% if experience.idmission != null %}
                    </br>
                            
                            <span style ="text-decoration : underline; color : #4169E1">
                            Entretien du : <b>{{vdate|date("d/m/Y", "Europe/Paris")}}</b>
                            </span>
                            <div class = "form-floating mb-3" >
                             <a href="{{path_for('modifsuivi',{'idsuivi'   : experience.idsuivi})  }}"> <i class="fa fa-edit fa-2x"  title = " Modification"style =" margin-top : 15px; "></i> </img> </a>
                             <a href="{{path_for('supprsuivi',{'idsuivi'   : experience.idsuivi})  }}"> <i class="fa fa-eraser fa-2x" title = " Suppression"  style =" margin-left : 20px; color : red"></i>  </a>
                             
                             
                            </div>
                            </br>
                              <h4>Présence</h4>
                              {% if experience.idmission == "IND" %}
                                     {% set vmission = "INDIVIDUEL"  %}
                              {% elseif experience.idmission == "COL" %}
                                     {% set vmission = "COLLECTIF"  %}
                              {% else %}
                                      {% set vmission = "NON"  %}
                              {% endif %}
                              <p>
                                Entretien : <b>{{vmission}}</b></br>
                                Présence : <b>{{experience.presence}}</b>
                              </p>
                          
                      {% endif %}
                    {% if experience.suivi != null %}
                        <h4>Compte-rendu</h4>
                        <span>
                        {{experience.suivi}}
                        </span>
                        </br>
                    {% endif %}
                    {% if experience.projet != null %}
                        <h4>Projet</h4>
                          <span>
                          {{experience.projet}}
                          </span>
                          </br>
                    {% endif %}
                    {% if experience.pointchantier != null %}

                        <h4>Point-Chantier</h4>
                            <span>
                            {{experience.pointchantier}}
                            </span>
                            </br>
                    {% endif %}

                      {% endfor %}

                </div>

              <!-- /col-md-6 -->
                    <!-- /OVERVIEW -->
            </div>
                  <!-- /tab-pane -->
          </div>
                <!-- /tab-content -->
        </div>
              <!-- /panel-body -->
      </div>
              <!-- /tab-content -->
    </div>
  </div>
        <!-- /col-lg-12 -->
  </div>
        <!-- /row -->
</div>
      <!-- /container -->
    <!--</section>-->
    <!-- /wrapper -->
  </section>

{% endblock %}
{% block javascript %}
  {{ parent() }}

  <script>

         function accepter () {

                 if ((document.getElementById('nom').value != "") &&
                    (document.getElementById('prenom').value != ""))
                 {


                     var accueil2 =  "Validation  ";
                     //var accueil = (accueil1);
                     alert(accueil2);
                     return true;

                 }


                 else {


                     alert ("Veuillez saisir nom et prénom");
                     return false

                 }

         }


  </script>

{% endblock %}
