{% extends "maitre.twig" %}

{% block content %}

 
  </div>
  </br>
  <div id="experience" style ="display : flex;width : 100%" >
       <div style ="width :50%">
            <form id = "entretien" method="post" action="{{ path_for('updatemodifentretien',{'identretien'         : experience.identretien}) }}">
                            {{idsalarie}}
                             {% for entretien in entretiens %}
                                     <h4>{{titre}} de {{entretien.nom}} {{entretien.prenom}} </h4></br>
                                     <span>Effectué Le : </span><input  type="date" name ="vdate" value = {{entretien.vdate}}></input>
                                      
                                      </br>
                                      <div class="col-md-12 detailed">
                                         <h4>Expériences Professionnelles</h4>
                                         {% set exp = entretien.experience %}
                                         <div class="input-group mb-5">
                                                <input type="hidden" name="idsalarie" value={{entretien.idsalarie}}>
                                                <input type="hidden" name="identretien" value={{entretien.identretien}}>
                                                <textarea rows ="6" cols="70" class="form-control" name="experience" id ="experience" >{{entretien.experience}}</textarea>
                                               
                                                {{csrf()}}
                                          </div>
                                      </div>
                                     
                                      <div class="col-md-12 detailed">
                                                        <h4>Diagnostics</h4>
                                                        
                                                        <div class="input-group mb-3">
                                                            <textarea rows ="6" cols="70" class="form-control" name="diagnostic" id ="diagnostic" >{{entretien.diagnostic}}</textarea>

                                                       </div>
                                      </div>
                                      <div class="col-md-12 detailed">
                                                       <h4>Compétence</h4>
                                                       <div class="input-group mb-3">
                                                           <textarea rows ="6" cols="70" class="form-control" name="competence" id ="competence" >{{entretien.competence}}</textarea>
                                                           {{csrf()}}
                                                       </div>
                                      </div>
                            {% endfor %}    
            <button type="submit" class="btn btn-primary" style =" margin-left : 150px">Valider</button>&nbsp;&nbsp;
            <a href="{{ path_for('suivisalarie',{'idsalarie' : idsalarie})}}" class="btn btn-secondary">Annuler</a>
            </form>
                   
        </div>
{% endblock %} 
{% block javascript %}
  {{ parent() }}

  <script>

         function accepter () {

                 if ((document.getElementById('nom').value != "") &&
                    (document.getElementById('prenom').value != ""))
                 {


                     var accueil2 =  "Validation  ";
                     //var accueil = (accueil1);
                     alert(accueil2);
                     return true;

                 }


                 else {


                     alert ("Veuillez saisir nom et prénom");
                     return false

                 }

         }


  </script>

{% endblock %}
