{% extends "maitre.twig" %}
{% block content %}
 <style type="text/css">
      .fond input[type="radio"] {
        display: none;
      }
      .fond input[type="checkbox"] {
        display: none;
      }
     

      .toolbar label {
        display: inline-block;
        background-color: silver;
        padding: 4px 11px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        margin : auto
      }
       .toolbar1 label {
        display: inline-block;
        background-color: silver;
        padding: 4px 11px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        margin : auto
      }

      .toolbar input[type="radio"]:checked+label {
        background-color: green;
        color : white;
      }
      .toolbar input[type="checkbox"]:checked+label {
        background-color: green;
        color : white;
      }

      .toolbar1 input[type="radio"]:checked+label {
        background-color: red;
        color : white;
      }
     .toolbar1 input[type="checkbox"]:checked+label {
        background-color: red;
        color : white;
      }  
    
   
</style> 

    <div class="col-lg-12 mt">
        
        
          
            <div class="panel-body">
              <div class="tab-content">
                <div id="détailrenouvellement" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="hidden" name="idsalarie" value='{{idsalarie}}'>
                      
                    
                      <div id="login-page">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12">
                                  {% for renew in renews %}
                                      <br/>
                                      <div class="col-md-12 detailed">
                                         <h4>{{titre}} {{renew.nom}} {{renew.prenom}} </h4>
                                      </div>
                                      <form size ="350 px" class="form-login" method="POST"  action="{{ path_for('updaterenewsal') }} "style="box-shadow: 15px 15px 8px 1px #DCDCDC">
                                        <div class="form-group">
                                          <input type="hidden" name="idsalarie" value='{{idsalarie}}'>
                                          <input type="hidden" name="idrenewsal" value='{{renew.idrenewsal}}'>
                                         <label><b>Date de début renouvellement</b></label>
                                          <input type="date" class="form-control" name="newdatedeb" id ="newdatedeb" value = {{renew.newdebdate}} >
                                          <label><b>Date de fin renouvellement</b></label>
                                          <input type="date" class="form-control" name="newdatefin" id ="newdatefin" value = {{renew.nouvelle_date}}>
                                          <label><b>Contrat d'engagement</b></label></br>
                                          <div class ="border border-5 border-success  "  style =" display : flex; width : 110px;margin-left : 15px ">
                                          {% if renew.engagement == 1 %}
                                            
                                         
                                              <div class ="fond toolbar " style =" display : flex">

                                                <input type="radio" id="radio1" name="engagement" value="1" checked>
                                                <label  for="radio1">OUI</label>
                                              </div>  
                                               <div class ="fond toolbar1" style =" display : flex">
                                                <input type = "radio" name ="engagement" id = "radio2" value ="0" > 
                                                <label  for="radio2">NON</label>
                                              </div>
                                           
                                          {% elseif renew.engagement == 0 %}

                                              <div class ="fond toolbar " style =" display : flex">

                                                  <input type = "radio" name ="engagement" id = "radio3" value =1  >
                                                  <label  for="radio3">OUI</label>
                                              </div>    
                                              <div class ="fond toolbar1 " style =" display : flex">    
                                                  <input type = "radio" name ="engagement" id = "radio4" value =0 checked>
                                                   <label  for="radio4">NON</label>
                                              </div>
                                          {% else %}
                                              <div class ="fond toolbar " style =" display : flex">

                                                  <input type = "radio" name ="engagement" id = "radio5" value =1 > 
                                                  <label  for="radio5">OUI</label>
                                              </div>    
                                              <div class ="fond toolbar1 " style =" display : flex">                                            
                                                    <input type = "radio" name ="engagement" id = "radio6" value =0 > 
                                                   <label  for="radio6">NON</label>
                                              </div>

                                          {% endif %}
                                          </div>
                                          <textarea style ="white-space : preline" class="form-control" name="observation" id ="observation">{{renew.observation}}</textarea>
                                          {{csrf()}}
                                        </div>
                                  {% endfor %}
                                        &nbsp <button type="submit" class="btn btn-primary">Valider</button>&nbsp;&nbsp;
                                        <a href="{{ path_for('modifsalarie',{'idsalarie' : idsalarie })}}" class="btn btn-secondary">Annuler</a>
                                      </form>
                                      </br></br>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </section>
                    </div>
                    <!-- /col-md-6 -->
                    <div class="col-md-6 detailed">
                    </br>
            

              </div>
  

{% endblock %}
{% block javascript %}
  {{ parent() }}

  <script>

         function accepter () {

                 if ((document.getElementById('nom').value != "") &&
                    (document.getElementById('prenom').value != ""))
                 {


                     var accueil2 =  "Validation  ";
                     //var accueil = (accueil1);
                     alert(accueil2);
                     return true;

                 }


                 else {


                     alert ("Veuillez saisir nom et prénom");
                     return false

                 }

         }


  </script>

{% endblock %}
