{% extends "maitre.twig" %}
{% block title %}{{titre}}{% endblock %}
{% block content %}
<section>
<div id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br/>
                <h2 class="text-center">{{titre}}</h2>
                <form class="form-login" method="POST" onSubmit="return accepter()" action="{{ path_for('insertmotifsanction') }}">
                  <div class="form-group">
                    <label for="zone">Nouveau type de motif de sanction</label>
                    <input type="text" class="form-control" name="sanction" id="sanction" placeholder="Nouveau motif de sanction">
                    {{csrf()}}
                  </div>
                  <button type="submit" class="btn btn-primary">Valider</button>&nbsp;&nbsp;
                  <a href="{{ path_for('sanction')}}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block javascript %}
  {{ parent() }}

  <script>

         function accepter () {

                 if ((document.getElementById('nom').value != "") &&
                    (document.getElementById('prenom').value != ""))
                 {


                     var accueil2 =  "Validation  ";
                     //var accueil = (accueil1);
                     alert(accueil2);
                     return true;

                 }


                 else {


                     alert ("Veuillez saisir nom et prénom");
                     return false

                 }

         }


  </script>

{% endblock %}
